*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  padding: 1em;
  background-color: #e3f1f1;
  font-family: LinLibertine, system-ui;
  padding: 3rem;
  box-sizing: border-box;
}

.main {
  margin: auto;
  text-align: center;
  line-height: 1.25;
  font-size: 2.4rem;
}

.main p:first-of-type {
  font-size: 2.4rem;
}

.main p {
  max-width: 60vw;
  margin: 1.6rem auto;
}

h1 {
  font-size: 4.8rem;
}

@font-face {
    font-family: "LinLibertine";
    src: url("./fonts/LinLibertine_R.ttf");
}

#intro {

}

.section {
    margin-bottom: 9rem;

}

#skills .flexbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

#skills .flexbox div {
  margin: 1.6rem 4.8rem;

}

#skills ul {
  list-style-type: none;
  padding: 0;

}


#skills ul li {
  margin: 1rem 0;
}
